@page {
    size: auto ;
    margin: 0;
}

@media print {
    html, body {
        width: 6.7in;
    }
}

html {
    background: #eee;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
}

.mycard {
    width: 6.7in;
    position: relative;
    background: #fff;
}

.doc_ref {
    position: absolute;
    left: 200px;
    top: 40px;
    width: 40px;
    padding: 0px;
    text-align: left;
    color: black;
    font-weight: bold;
    font-size: 25px;
}

.description {
    position: absolute;
    left: 200px;
    top: 90px;
    width: 400px;
    padding-bottom: 10px;
    text-align: left;
    color: black;
    font-weight: bold;
    font-size: 20px;
}

.barcode {
    position: absolute;
    left: 33px;
    top: 215px;
}

.qr-code {
    position: absolute;
    left: 33px;
    top: 25px;
}